@import "../abstract/variables";

.container {
    display: grid;
    width: 100vw;
    max-width: 1024px;
    height: 98vh;
    column-gap: 1.5rem;
    margin: auto;

    grid-template-rows: 16rem 38% 38%;
    grid-template-columns: 96%;

    > * { padding: 1rem; }
}

.cockpit {
    grid-row: 1 / 2;
}

.main {
    grid-row: 2 / 3;
}

.side {
    grid-row: 3 / 4;
}

@media (min-width: $mobile-breakpoint){
    .container {
        grid-template-rows: 16rem (calc(100vh - 16rem));
        grid-template-columns: repeat(2, 48%);
    }

    .cockpit {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .main {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .side {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

@media (min-width: $tablet-breakpoint){
    .cockpit {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .main {
        grid-row: 1 / span 2;
        grid-column: 2 / 3;
    }

    .side {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
}