@import "src/styles/main";

.pane {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid $medium-grey;
    
    max-width: 400px;
    width: 100%;
    height: 100%;
    max-height: 22rem;
    margin: 0 auto 2rem;

    &__title {
        border-bottom: 1px solid $medium-grey;
        text-align: center;
        font-size: 2.5rem;
        padding: 0.4rem;
        
        &.btn-alt {
            @include btn($danger-color, $dirty-white-color);
            border-bottom: none;
        }
    }

    &__list {
        flex: 1;
        overflow: auto;
        text-align: center;
        font-family: Verdana, Geneva, sans-serif;
    }

    &__item {
        padding: 1rem;
        cursor: pointer;

        &:hover,
        &:focus {// $dirty-white-color;
            background-color: $dirty-white-color;
            box-shadow: 0 2px 10px $medium-grey;
        }
    }
}

@media(min-width: 500px){
    .pane {
        max-height: unset;
        margin: auto;
    }
}