<section class="pane main" [class.test]="currItem">
    <h3 class="pane__title" *ngIf="!list">
        Results
    </h3>
    <button 
        class="pane__title btn-alt" 
        *ngIf="list"
        (click)="clearList()"    
    >
        Clear
    </button>
    <ul class="pane__list">
        <p *ngIf="list && list.length === 0">No result found!</p>
        <ng-container *ngFor="let item of list">
            <li 
                class="pane__item"
                (click)="onSelected(item)"
            >
                {{item.id || item.title || item.answer }}
            </li>
            <li class="pane__item--spacer">****</li>
        </ng-container>
    </ul>
</section>