@mixin btn($backcol, $col) {
    cursor: pointer;
    padding: 0.2rem 0.6rem;

    background-color: $backcol;
    color: $col;

    &.rounded {border-radius: 100px;}
    &:hover,
    &:focus {
        background-color: darken($backcol, 5%);
        color: lighten($col, 5%);
    }
    &:active {
        background-color: darken($backcol, 15%);
        color: lighten($col, 15%);
    }

    &:disabled {
        cursor: not-allowed;
    
        background-color: #b2c4b1;
        color: #333;
    }
}