$primary-color: #123f2a;
$alt-color: #dfdd87;

$dirty-white-color: #fafafa;
$light-grey: #ebebeb;
$medium-grey: #7a6e6e;

$hard-grey: #353233;

$success-color: #22af4a;
$danger-color: #e51236;

$mobile-breakpoint: 500px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 968px;