@import "src/styles/main";

.panel {
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;

    &__title {
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 1rem;
        background-color: $light-grey;

        cursor: pointer;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        background-color: $light-grey;
        z-index: 100;
    
        &.open {
            width: 100%;
            height: auto;
            overflow: visible;
        }

        &--title {
            width: 100%;
            text-align: center;
            margin: 1.5rem auto;
            font-style: italic;
        }

        &--item  {
            margin: 0 0.6rem 1rem;
            input[type=checkbox],
            input[type=radio]{
                margin-right: 0.2rem;
                cursor: pointer;
            }
            label {
                cursor: pointer;
            }
        }
    }
}

.hidden {
    display: none;
}

@media(min-width: 968px){
    .panel__title {
        display: none;
    }

    .panel__list {
        width: 100%;
        height: auto;
        overflow: visible;
        position: relative;
    }
}