<section class="panel">
    <header class="panel__title" (click)="onToggle()">
        <div [class.hidden]="!isOpen">
            <fa-icon [icon]="faLongArrowAltUp"></fa-icon>
            <fa-icon [icon]="faLongArrowAltUp"></fa-icon>
        </div>
        <div [class.hidden]="isOpen">
            <fa-icon [icon]="faLongArrowAltDown"></fa-icon>
            <fa-icon [icon]="faLongArrowAltDown"></fa-icon>
        </div>
        <h2>OPTIONS</h2>
        <div [class.hidden]="isOpen">
            <fa-icon [icon]="faLongArrowAltDown"></fa-icon>
            <fa-icon [icon]="faLongArrowAltDown"></fa-icon>
        </div>
        <div [class.hidden]="!isOpen">
            <fa-icon [icon]="faLongArrowAltUp"></fa-icon>
            <fa-icon [icon]="faLongArrowAltUp"></fa-icon>
        </div>
    </header>
    <ul class="panel__list" [class.open]="isOpen">
        <h3 class="panel__list--title">SEARCH MATERIAL</h3>
        <li class="panel__list--item">
            <input 
                type="checkbox" 
                name="base" 
                id="base"
                value="base"
                (change)="onChecked('base')"
                [checked]="baseList.includes('base')"
            />
            <label for="base">Modulo Base</label>
        </li>
        <li class="panel__list--item">
            <input 
                type="checkbox" 
                name="cat145" 
                id="cat145" 
                value="cat145"
                (change)="onChecked('cat145')"
                [checked]="baseList.includes('cat145')"
            >
            <label for="cat145">Cat. 1-4-5</label>
        </li>
        <li class="panel__list--item">
            <input 
                type="checkbox" 
                name="cat8" 
                id="cat8" 
                value="cat8"
                (change)="onChecked('cat8')"
                [checked]="baseList.includes('cat8')"
            >
            <label for="cat8">Cat. 8</label>
        </li>
        <li class="panel__list--item">
            <input 
                type="checkbox" 
                name="cat9" 
                id="cat9" 
                value="cat9"
                (change)="onChecked('cat9')"
                [checked]="baseList.includes('cat9')"
            >
            <label for="cat9">Cat. 9</label>
        </li>
        <li class="panel__list--item">
            <input 
                type="checkbox" 
                name="cat10" 
                id="cat10" 
                value="cat10"
                (change)="onChecked('cat10')"
                [checked]="baseList.includes('cat10')"
            >
            <label for="cat10">Cat. 10</label>
        </li>
    </ul>
</section>
