@import "src/styles/main";

.pane {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid $medium-grey;

    max-width: 400px;
    height: 100%;
    margin: auto;

    &__title {
        border-bottom: 1px solid $hard-grey;
        text-align: center;
        font-size: 2.5rem;
        
        &.id {
            background-color: $hard-grey; 
            color: $dirty-white-color;
        }
    }

    &__list {
        flex: 1;
        padding: 0.4rem;
        overflow: auto;
        text-align: center;
        font-family: Verdana, Geneva, sans-serif;
    }

    &__item {
        padding: 1rem;
        
        &.bold {font-weight:  bold; font-style: italic;}
        &.green {color: $success-color; font-style: italic;}
        &.red {color: $danger-color; font-style: italic;}
    }

    .btn-stripe{
        @include btn($danger-color, $dirty-white-color);
        font-size: 1rem;
        padding: 0;
    }
}

@media(min-width: $tablet-breakpoint){
    .pane {
        height: auto;
    }
}