<section class="pane side" *ngIf="details">    
    <button (click)="closeDetails()" class="btn-stripe">close &times;</button>
    <h3 class="pane__title id"> {{ details.id }}</h3>
    <ul class="pane__list">
        <li class="pane__item id">
           
        </li>
        <li class="pane__item bold">
            {{ details.title }}:
        </li>
        <hr/>
        <li class="pane__item green">
           - {{ details.correct }}
        </li>
        <li 
            class="pane__item red"
            *ngFor="let w of details.wrong"
        >
           - {{ w }}
        </li>
    </ul>    
</section>
