@import "./src/styles/main";

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 1rem;
}

.form-field {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin: 1rem 0;
    width: 100%;

    .form-select {cursor: pointer;}

    .form-searchbar {
        flex: 1;
        border-bottom: 1px solid $success-color;
        margin: 0 1rem;
        padding-left: 0.5rem;
        color: $hard-grey;
        font-size: 1.4rem;
        text-transform: uppercase;
        transition: all 0.2s;
        
        &:focus {
            transform: scale(1.02);
            border-bottom: 3px double $success-color;
            margin-bottom: -2px;
        }
    }
}

.btn-success {
    @include btn($success-color, $dirty-white-color);
    width: 90%;
    margin: auto;
    display: block;
}
