<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form">
    <app-options-panel></app-options-panel>
    <div class="form-field">
        <select 
            name="parameter" 
            id="parameter"
            [(ngModel)]="parameter"
            class="form-select"
        >
            <option value="qid">ID</option>
            <option value="title">Title</option>
            <option value="answer">Answer</option>
        </select>
        <input 
            name="argument"
            class="form-searchbar"
            type="text"
            size="1" 
            ngModel
        />
    </div>
    <button
        type="submit"
        class="btn-success rounded"
    >
        search 
        <fa-icon [icon]="faSearch"></fa-icon>
    </button>
</form>
